<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h1 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="secondary">Registro</ion-text>
        </ion-text>
      </h1>
    </div>

    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Nombre completo
        </ion-label>
        <ion-input color="secondary"   [(ngModel)]="fullName" name="fullName" formControlName="fullName"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">
        <ion-text color="warning">
          Introduzca un nombre valido
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary"  [(ngModel)]="email" name="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
        <ion-text color="warning">
         Introduzca un email correcto
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Contraseña
        </ion-label>
        <ion-input color="secondary" [(ngModel)]="password" type="password" formControlName="password"  name="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
        <ion-text color="warning">
          Introduzca una contrseña correcta con minimo 6 caracteres
        </ion-text>
      </p>
    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark"  class="submit-btn" (click)="tryRegister()"  [disabled]="!onRegisterForm.valid"
        tappable>
        <ion-icon name="log-in"></ion-icon>
       Registrarse
      </ion-button>


    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToLogin()" tappable>
        <ion-text color="light">
          <strong>Ya tengo cuenta</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>